.navbox{
  display: flex;
  justify-content: center;
  height: 80px;
  margin-top: 10px;
  backdrop-filter: blur(100px);
  border-radius: 20px;
  
}
.background{
  background-image: url(../public/assets/background1.jpeg);
  background-size: 100%;
  height: 800px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items:self-start;
  justify-content: center;
   
}
nav{
  border-radius: 20px;
  width: auto;
}